{% extends "base.html" %}
{% load static %}

{% block content %}
  <main class="relative h-[calc(100vh-4rem)]">
    <div
      id="weather-map"
      class="h-full w-full"
      data-regions-url="{% url 'locations:regions_geojson' %}"
      data-region-panel-url-template="{% url 'locations:region_panel' 'REGION_CODE' %}"
      data-map-worker-url="{% static 'js/maplibre-gl-worker.mjs' %}"
    ></div>

    <aside
      id="weather-panel"
      class="absolute inset-x-4 bottom-4 z-10 md:inset-x-auto md:right-6 md:top-6 md:bottom-auto md:w-96"
      aria-live="polite"
    ></aside>
  </main>
{% endblock %}
